
@font-face {
    font-family: "Futura";
    src: url("fonts/Futura.ttc");
}

@media only screen and (max-width: 330px) {
    form.form-size {

        width: 18em;
    }

    div.column {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    div.columnError {
        display: flex;
        flex-direction: column !important;
        flex-basis: 100%;
    }

    input,
    select {
        width: 100%;
    }

    li.row {
        margin-top: 2%;
    }

    div.column-image {
        flex-basis: 50% !important;
    }

    html {
        overflow-x: hidden;
    }

    label.label-img img {
    width: 5.5em;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    }
    img.logo{
    width: 9em; 
    margin-top: 0.7em
}
div.columnFooter{
    justify-content: center;
}
img.imgLine{
        width: 17em;
height: 2em;
}
div.top{
    margin-bottom: 0em;
}
}

@media only screen and (max-width: 400px) and (min-width: 331px){
    form.form-size {

        width: 20em;
    }

    div.column {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    div.columnError {
        display: flex;
        flex-direction: column !important;
        flex-basis: 100%;
    }

    input,
    select {
        width: 100%;
    }

    li.row {
        margin-top: 2%;
    }

    div.column-image {
        flex-basis: 50% !important;
    }


    html {
        overflow-x: hidden;
    }

    label.label-img img {
    width: 5.5em;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
img.logo{
    width: 9em; 
    margin-top: 0.7em
}
div.columnFooter{
    justify-content: center;
}
img.imgLine{
        width: 17em;
height: 2em;
}
div.top{
    margin-bottom: 0em;
}
}

@media only screen and (max-width: 600px) and (min-width: 401px) {
    form.form-size {

        width: 23em;
    }

    div.column {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    div.columnError {
        display: flex;
        flex-direction: column !important;
        flex-basis: 100%;
    }

    input,
    select {
        width: 100%;
    }

    li.row {
        margin-top: 2%;
    }

    div.column-image {
        flex-basis: 50% !important;
    }

    html {
        overflow-x: hidden;
    }
    label.label-img img {
    width: 7em;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
img.logo{
    width: 9em; 
    margin-top: 0.7em
}
div.columnFooter{
    justify-content: center;
}
img.imgLine{
        width: 17em;
height: 2em;
}
div.top{
    margin-bottom: 0em;
}

}

.titleStyle {
    font-size: x-large;
    margin-left: 3%;
    font-family: "Futura";
    color: rgb(111, 111, 110);
    font-weight: bold;
    line-height: 2.213;
    text-align: left;
    -moz-transform: matrix(0.98627873950028, 0, 0, 0.98608797205282, 0, 0);
    -webkit-transform: matrix(0.98627873950028, 0, 0, 0.98608797205282, 0, 0);
    -ms-transform: matrix(0.98627873950028, 0, 0, 0.98608797205282, 0, 0);
}


.textStyle {
        font-size: 2vw;
    font-family: "Futura";
    color: rgb(217, 217, 217);
    line-height: 1.355;
    text-align: center;
    -moz-transform: matrix(1.07527249198017, 0, 0, 1.07527249198017, 0, 0);
    -webkit-transform: matrix(1.07527249198017, 0, 0, 1.07527249198017, 0, 0);
    -ms-transform: matrix(1.07527249198017, 0, 0, 1.07527249198017, 0, 0);
}

body {
    font-family: Futura;
    background-image: url(img/thankYouBackground.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    /*min-height: 100%;
    width: 100%;*/

    /*position: absolute;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    padding: 2%;
    border-radius: px;
    padding-top: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.span-error {
    color: red;
    font-size: 8pt;
}

.select-width {
    width: 200px;
}

div.options>label>input {
    visibility: hidden;
}

div.options>label.visa {
    display: block;
    margin: 0 0 0 -10px;
    padding: 0 0 0 0;
    height: 20px;
}

div.options>label {
    display: block;
    margin: 0 0 0 -10px;
    padding: 0 0 0 0;
    height: 20px;
}

div.options>label>img {
    display: inline-block;
    padding: -6px;
    margin: -2px;
    height: 18px;
    width: 18px;
    background: none;
}

div.options>label>input:checked+img {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-512.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
}

ul {
    padding: 0;
}

.ul-img {
    list-style-type: none;
}

.li-img {
    display: inline-block;
}

input[type="checkbox"][id^="cb"] {
    display: none;
}

.label-img {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.label-img:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.label-img img {
    width: 120px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked+.label-img:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

:checked+.label-img img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

.lableSquareCheckbox {
    display: inline-block;

}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    background: url('img/test3.png') repeat;
}

select option {
    margin: 40px;
    background: rgb(201, 201, 201);
    opacity: 0.6;
    /*color: #fff;*/
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input {
    background: url('img/test3.png') repeat;
    border-color: rgb(255, 255, 255) rgb(166, 159, 159) rgb(166, 159, 159) rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 0;

}

.span-error {
    color: red;
    font-size: 8pt;
}

.input-hidden {
    display: none;
    visibility: hidden;
}

.radio-div {
    outline: none;
}

.divSpan {
    display: none;
}

li.row {
    margin: 1%;
}

li.row>div.column {
    margin-left: 3%;
    margin-right: 3%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    flex-basis: 100%;
    order: 1;
}

.two {
    flex: 1 1 0;
    order: 2;
}

.columnF4 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3.3;
}

.field-label {
    font-size: small;
}

.form-size {
    width: 51em;
}

.btn {
    border: none;
    color: white;
    padding: 9px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    background-color: #616060;
    width: 12em;
margin-left: auto;
margin-right: auto;
}

.logo{
    width: 12em; 
    margin-top: 1.7em;
    margin-left: auto;
    margin-right: auto;
}
.columnFooter{
    justify-content: center;
}
.top{
    margin-bottom: 3em;
}
